/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.dropdown:hover .dropdown-menu {
  display: block;
}

body {
  font-family: "Raleway";
}

.absolute-pattern {
  top: 10vh;
  z-index: -1;
}

// * {
//   outline: 2px red solid;
// }

.btn-arrow {
}

.features:nth-child(odd) {
  flex-direction: row-reverse;
}

.sent-check {
  width: 40px;
  color: white;
}
