/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.dropdown:hover .dropdown-menu {
  display: block;
}

body {
  font-family: "Raleway";
}

.absolute-pattern {
  top: 10vh;
  z-index: -1;
}

// * {
//   outline: 2px red solid;
// }

.btn-arrow {
}

.features:nth-child(odd) {
  flex-direction: row-reverse;
}

.sent-check {
  width: 40px;
  color: white;
}

.dropdown-menu {
  top: 100%;
}

.nav-icon {
  height: 50px;
}

.max-w-50 {
  max-width: 50px;
}

// .bg-img:hover {
//   background-image: url("../images/La_Defense.png");
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-blend-mode: normal;
//   transition: ease-in-out 0.3s;
//   span,
//   p {
//     color: white;
//   }
// }
// .bg-img {
//   transition: ease-in-out 0.3s;
//   background-blend-mode: luminosity;
//   background-image: url("../images/La_Defense.png");
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
// }

.richtext {
  ol,
  ul {
    list-style: disc;
    margin: unset;
  }
  ul {
    margin-left: 1.45rem;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

.partner-logo {
  flex: 0 0 calc(16.66% - 20px);
  min-width: 200px;
}

.text-xsm {
  font-size: 0.8rem;
}
